body {
    background-color: rgba(0, 0, 0, .15);    
}

* {
    margin: 0;
    padding: 0;
}

main {
    padding: 10px;
}

body, input, button {
    font-family: 'Open Sans';
}

input[type="text"] {
    border: 1.5px solid rgba(0, 0, 0, .5);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .1);
    color: black;
    width: 4.5em;
}

input::placeholder {
    color: black;
    padding: 5px
}

h1, h2, h3, h4 {
    font-family: 'Roboto Condensed';
    margin: 5px 0;  
}

.block {
    border: 3px solid rgba(0, 0, 0, 0.055);
    background-color: rgba(0, 0, 0, .1);
    padding: 10px;
    border-radius: 10px;
}

#calc-header {
    margin-top: 5px;
}

.calc {
    border: 3px solid rgba(0, 0, 0, 0.055);
    background-color: rgba(0, 0, 0, .1);
    padding: 10px;
    border-radius: 10px;
    font-size: 1.1em;
    margin: 5px 0;
}

ul {
    padding: 0 25px;
    list-style-type: square;
}

.radio {
    position: absolute;
    margin-top: 8px;
    width: 15px;
    height: 15px;   
    background-color: #fff;
        /* top: 5px;
        left: 5px; */
}