h1, h2 {
    margin: 10px;
}

h2 > button {
    margin-left: 10px;
}

.block {
    width: 80%;
    margin: 5px 0;
    padding: 15px;
    background-color: rgb(219, 219, 219);
    border: 2px solid rgb(131, 131, 131);
}

ul {
    display: flex;
    flex-direction: column;
}

ul > li {
    list-style-type: none;
    font-style: italic;
}

input {
    width: 35px;    
    margin: 3px;
    font-style: italic;
    text-align: center;
}

#calc {
    margin: 10px 0;
    width: 100px;
    height: 30px; 
}

#value {
    background-color: rgb(131, 131, 131);
    margin-top: 10px;   
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    line-height: 2em;
    font-style: italic;
    color: white;
}